{
  "extends": "./stylelintconfig.cjs",

  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "content",
          "each",
          "else",
          "for",
          "include",
          "if",
          "use",
          "mixin"
        ]
      }
    ]
  }
}
