@use "../variables";

.advantages {
  margin-bottom: 120px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  row-gap: 30px;
  margin: 0;
  padding: 0;

  @media (max-width: variables.$vp-max-mobile) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__item {
  position: relative;
  margin: 0;
  padding: 40px 45px 35px;
  border: 1px solid variables.$color-whisper;
  border-left: none;
  box-shadow: -5px 0 0 0 variables.$color-sky-blue;

  &:first-child {
    border: 1px solid transparent;
    background-color: variables.$color-sky-blue;
  }

  &:first-child h3 {
    color: variables.$color-alice-blue;
  }
}

.advantages__item svg {
  display: block;
  margin-bottom: 20px;
}

.advantages__item h3 {
  margin: 0 0 15px;
  padding: 0;
  font-family: variables.$ff-roboto-condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: variables.$color-sky-blue;
}

.advantages__item p {
  margin: 0 0 10px;
  padding: 0;
  color: variables.$color-pearl;
  font-family: variables.$ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
