@use "../variables";

.form {
  position: relative;
  background-color: variables.$color-sky-blue;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 50%;
    height: 100%;
    background-color: variables.$color-pearl;
    opacity: 0.5;
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }

  @media (max-width: variables.$vp-max-tablet) {
    &::before {
      display: none;
      background-color: transparent;
    }
  }
}

.form__container {
  display: flex;
  justify-content: flex-end;

  @media (max-width: variables.$vp-max-tablet) {
    justify-content: flex-start;
  }
}

.form__image {
  position: absolute;
  top: 245px;
  left: -625px;
  z-index: 1;

  @media (max-width: variables.$vp-max-desktop) {
    top: 185px;
    left: -375px;
    width: 350px;
  }

  @media (max-width: variables.$vp-max-tablet) {
    display: none;
  }
}

.form__wrapper {
  position: relative;
  padding: 165px 10px 235px 0;

  @media (max-width: variables.$vp-max-tablet) {
    padding: 45px 0 118px;
  }

  @media (max-width: variables.$vp-max-mobile) {
    padding: 46px 0 83px;
  }
}

.form__wrapper h2 {
  margin: 0 0 12px;
  font-family: variables.$ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: variables.$color-default-white;

  @media (max-width: variables.$vp-max-tablet) {
    margin-bottom: 7px;
  }

  @media (max-width: variables.$vp-max-mobile) {
    font-size: 30px;
    line-height: 42.19px;
  }
}

.form__wrapper p {
  margin: 0 0 36px;
  padding-left: 5px;
  font-family: variables.$ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: variables.$color-default-white;

  @media (max-width: variables.$vp-max-tablet) {
    margin-bottom: 26px;
    padding-left: 0;
  }

  @media (max-width: variables.$vp-max-mobile) {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 18.82px;
  }
}

.form__wrapper form {
  display: grid;
  grid-template-columns: 275px 275px;
  grid-gap: 20px 30px;
  padding-left: 5px;

  input {
    min-width: 275px;
    min-height: 50px;
    padding: 13px 15px 16px;
    font-family: variables.$ff-pt-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: variables.$color-default-white;
    background-color: variables.$color-pearl-fade;
    border: none;
    border-radius: 3px;
  }

  .is-invalid input {
    box-shadow: 0 0 0 1px variables.$color-invalid;
  }

  .is-valid input {
    box-shadow: 0 0 0 1px variables.$color-valid;
  }

  @media (max-width: variables.$vp-max-tablet) {
    grid-template-columns: 1fr 1fr;
    padding-left: 0;

    input {
      width: 100%;
    }
  }

  @media (max-width: variables.$vp-max-mobile) {
    display: grid;
    grid-template-columns: 1fr;

    input {
      min-width: 270px;
    }
  }
}

.form__textarea {
  grid-column: 1 / -1;
  margin-bottom: 12px;

  textarea {
    width: 100%;
    min-height: 155px;
    padding: 23px 15px;
    font-family: variables.$ff-pt-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: variables.$color-default-white;
    background-color: variables.$color-pearl-fade;
    border: none;
    border-radius: 3px;
  }

  @media (max-width: variables.$vp-max-tablet) {
    textarea {
      padding: 30px 15px;
    }
  }

  @media (max-width: variables.$vp-max-mobile) {
    margin-bottom: 32px;

    textarea {
      padding: 23px 15px;
    }
  }
}

.form__btn {
  display: block;
  padding: 16px 25px 10px;
  max-width: 265px;
  height: 45px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: variables.$ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  background-color: variables.$color-pearl;
  color: variables.$color-default-white;

  @media (max-width: variables.$vp-max-mobile) {
    max-width: unset;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.form__agreement {
  padding-left: 11px;
  font-family: variables.$ff-pt-mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: variables.$color-default-white;
  opacity: 0.8;
}

.form__checkbox-wrapper {
  padding: 14px 10px;

  span {
    cursor: pointer;
  }

  input {
    display: none;
    padding-top: 8px;
  }

  input:checked + .form__checkbox-icon {
    background-image: url("../../img/svg/icon-checkbox-checked.svg");
    cursor: pointer;
  }

  input:not(:checked) + .form__checkbox-icon {
    background-image: url("../../img/svg/icon-checkbox-unchecked.svg");
    cursor: pointer;
  }

  @media (max-width: variables.$vp-max-tablet) {
    padding: 10px 0;
  }

  @media (max-width: variables.$vp-max-mobile) {
    padding: 5px;
  }
}

.form__checkbox-wrapper label {
  display: flex;
  align-items: center;
}

.form__checkbox-icon {
  display: inline-block;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
}
