@use "../variables";
@use "../mixins";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(variables.$color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 146px 40px 60px;

    @include mixins.vp-767 {
      padding: 10px 0;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    position: relative;
    width: 500px;
    padding: 37px 40px 44px;
    background-color: variables.$color-sky-blue;
    border-radius: 3px;

    @include mixins.vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background: variables.$color-transparent;
    border: none;
    color: variables.$color-default-white;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include mixins.vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.modal h2 {
  margin: 0 0 4px;
  font-family: variables.$ff-roboto-condensed;
  font-weight: 400;
  font-size: 30px;
  line-height: 42.19px;
  color: variables.$color-default-white;
}

.modal p {
  margin: 0 0 39px;
  padding-right: 25px;
  font-family: variables.$ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.5px;
  color: variables.$color-default-white;
}

.modal form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .is-invalid input {
    box-shadow: 0 0 0 1px variables.$color-invalid;
  }

  .is-valid input {
    box-shadow: 0 0 0 1px variables.$color-valid;
  }
}

.modal input {
  width: 100%;
  min-width: 275px;
  min-height: 50px;
  padding: 13px 15px 16px;
  font-family: variables.$ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: variables.$color-default-white;
  background-color: variables.$color-pearl-fade;
  border: none;
  border-radius: 3px;

  @media (max-width: variables.$vp-max-mobile) {
    min-width: 0;
  }
}

.modal textarea {
  width: 100%;
  margin-bottom: 3px;
  padding: 23px 15px 27px;
  font-family: variables.$ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: variables.$color-default-white;
  background-color: variables.$color-pearl-fade;
  border: none;
  border-radius: 3px;
}

.modal__btn {
  display: block;
  padding: 13px 25px 10px;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: variables.$ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  background-color: variables.$color-pearl;
  color: variables.$color-default-white;
}

.modal__checkbox-icon {
  display: inline-block;
  flex-shrink: 0;
  margin-right: 9px;
  width: 15px;
  height: 15px;
}

.modal__agreement {
  font-family: variables.$ff-pt-mono;
  font-size: 14px;
  line-height: 15.58px;
  color: variables.$color-default-white;

  label {
    display: flex;
    align-items: center;
    padding-left: 9px;
  }

  span {
    cursor: pointer;
  }

  input {
    display: none;
    padding-top: 8px;
  }

  input:checked + .modal__checkbox-icon {
    background-image: url("../../img/svg/icon-checkbox-checked.svg");
    cursor: pointer;
  }

  input:not(:checked) + .modal__checkbox-icon {
    background-image: url("../../img/svg/icon-checkbox-unchecked.svg");
    cursor: pointer;
  }
}
