@use "../variables";

.social-list {
  display: flex;
  padding-left: 15px;

  @media (max-width: variables.$vp-max-tablet) {
    padding-top: 10px;
    padding-left: 0;
  }

  @media (max-width: variables.$vp-max-mobile) {
  }
}

.social-list__content {

  @media (max-width: variables.$vp-max-tablet) {
  }
}

.social-list__item {
  margin-left: 25px;

  &:first-of-type {
    margin-left: 0;
  }
}

.social-list__link {
}
