@use "../variables";

.social-list {
  display: flex;
  padding-left: 15px;

  @media (max-width: variables.$vp-max-tablet) {
    padding-top: 10px;
    padding-left: 0;
  }
}

.social-list__item {
  margin-left: 25px;

  &:first-of-type {
    margin-left: 0;
  }
}

.social-list__link {
  &:hover,
  &:focus {
    background-color: variables.$color-pearl-fade;
    opacity: 0.8;
  }

  &:active {
    background-color: variables.$color-pearl-fade;
    opacity: 0.6;
  }
}
