@use "../mixins";

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 40px;

  @include mixins.vp-1439 {
    padding: 0 32px;
  }

  @include mixins.vp-1023 {
    padding: 0 24px;
  }

  @include mixins.vp-767 {
    padding: 0 16px;
  }
}
